$tangerin:  #f2ae41;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables.scss";

body {
    margin: 0 auto;
}

.navbar {
    z-index: 2000;
}

.task-wrapper {
    border: solid 2px $light;
    border-radius: 15px;
    padding: 1rem;
    min-width: 105px;

    
    &:hover {
        color: $tangerin;
        border-color: $tangerin;  
    }
}

#showcase {
    padding-left: 0;
    padding-right: 0;

    .showcase-img {
        clip-path: polygon(0 75%, 100% 90%, 100% 0, 0 0);
        padding-left: 0;
        padding-right: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.reviews {
    background: $primary;
    height: 415px;

    .review-img {  
        width: 10rem;
        height: 10rem;
    }
}

.info-text {
    font-size: 0.8rem;
    opacity: 0.7;
    margin: 0.4rem 0;
}

.mt-6 {
    margin-top: 5rem;
}

.card {

    .svg-container {
        max-width: 100%;

        svg {
            width: 20px;
        }
    }
}


@include media-breakpoint-down(sm) {
    .btn-container {
        width: 100%;
        min-height: fit-content;
        height: 4rem;
        overflow-x: auto;
        scrollbar-width: none;
        
        &::-webkit-scrollbar { 
            display: none;
        }
    
        .btn {
            border-radius: 20px;
            box-shadow: none;
            border: $tangerin solid 1px;
            margin-left: 0.4rem;
    
            &:focus {
                background-color: $tangerin;
                color: $light;
                box-shadow: rgba(130, 110, 48, 0.3) 0px 8px 10px;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .btn-container {
        box-shadow: rgba(130, 110, 48, 0.1) 0px 8px 24px, rgba(169, 139, 51, 0.1) 0px 16px 56px, rgba(224, 207, 157, 0.1) 0px 24px 80px;
        height: 6rem;
        border-radius: 15px;
        width: auto;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    
        .btn {
            height: 100%;
            flex-basis: content;
            flex-grow: 1;
    
            &:focus {
                border-bottom: $primary 4px solid;
                box-shadow: none;
                background: var(--bs-body-bg);
                color: $primary;
            }

            &:hover {
                background: rgba($color: $tangerin, $alpha: 0.1);
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    

    .text-container {
        .class-name {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    .task-wrapper {
        &:hover {
            p {
                opacity: 1;
                cursor: default;
            }
    
            i{
                transform: translateY(0);
            }
        }
    
        p {
            opacity: 0;
            transition: opacity ease 500ms;
        }
    
        i {
            transform: translateY(20px); 
            transition: transform ease-out 400ms;
        }
    }

    #start-screen {

        .buttons {

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 160px;
                min-height: 55px; 
                font-size: 1.5vw;
                border-radius: 16px;
            }
        }
    }

    

}