@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables.scss";

.task-wrapper {
    border: solid 2px $light;
    border-radius: 15px;
    padding: 1rem;
    min-width: 105px;
}

.info-text {
    font-size: 0.8rem;
    opacity: 0.7;
    margin: 0.4rem 0;
}
